body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Manrope', sans-serif;
}
*{
    box-sizing: border-box;
}
b {
    color: #0A2640;
    font-weight: 700;
    font-family: 'Open Sans' !important;
}
.display-block{
    display: block;
}
.d-flex{
    display: flex;
}
.flex-wrap{
flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-y-80{
    margin-bottom: 80px;
    margin-top: 80px;
}
.font-16s{
    font-size: 16px;
}
.font-24s{
font-size: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Manrope', sans-serif;
    margin: 0;
    margin-bottom: 16px !important;
}
p{
    margin: 0;
    font-size: 20px;
}
h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}
h3{
    font-size: 36px;
    line-height: 56px;
    font-weight: 400;
}
h5{
    font-size: 28px;
    font-weight: 400;
}
h6{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}
a{
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
.text-center{
    text-align: center;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.gray-color{
    color: #777777;
}
.text-secondry{
    color: #65E4A3;
}
ul.navbar {
	display: flex;
	align-items: center;
}
.container {
	box-sizing: border-box;
	max-width: 1200px;
    width: 100%;
	margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.max-w1100 {
    max-width: 1100px;
    margin: 0 auto;
}
.col-6{
    width: 50% !important;
}
.col-5{
    width: 40% !important;
}
.col-7{
    width: 60% !important;
}
.col-3{
    width: 25% !important;
}
.col-4{
    width: 33.33% !important;
}
.col-8{
    width: 66.67% !important;
}
.col {
    padding: 15px;
    width: 100%;
}
.ml-16{
    margin-left: 16px;
}
.m-b-80{
    margin-bottom: 82px !important;
}
.align-right {
    text-align: right;
}
figure {
    margin: 0;
    line-height: 1;
}
.inner-sec figure {
    margin-bottom: 24px;
}
.inner-title {
    margin-bottom: 12px;
}
.title-para {
    margin-bottom: 20px;
}
.btn-login{
    font-weight: 600 !important;
    padding: 8px 40px !important;
    border: 1px solid transparent;
    color: #0a2640 !important;
    background-color: #fff;
    border-radius: 40px;
    line-height: 24px !important;
    margin: 0 !important;
    transition: all .2s;
}
.btn-sm-blue-outline{
    font-weight: 600 !important;
    padding: 8px 40px !important;
    border: 1px solid transparent;
    color: #0A2640;
    border-color: #0A2640;
    transition: all .2s;
    border-radius: 40px;
    line-height: 24px !important;
    margin: 0 !important;
    transition: all .2s;
}
.btn {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.btn-default{
    font-size: 20px;
    line-height: 28px;
    border: 1px solid #fff;
    color: #fff;
    padding: 16px 56px;
    border-radius: 40px;
    font-weight: 700;
    margin: 12px 12px 0 0;
    transition: all .2s;
}
.btn-green {
    background-color: #69E6A6;
    border: 1px solid #69E6A6;
    color: #0a2640;
    padding: 16px 56px;
    border-radius: 40px;
    font-weight: 700;
    margin: 12px 12px 0 0;
    font-size: 20px;
    line-height: 28px;
    transition: all .2s;
}
.btn-blue {
    background-color: #0a2640;
    border: 1px solid #0a2640;
    color: #fff;
    padding: 16px 56px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    transition: all .2s;
}
.btn-blue-outline{
    color: #0A2640;
    border-color: #0A2640;
    transition: all .2s;
}
/* animation */
.btn-green:hover{
    background-color: transparent;
    border: 1px solid #69E6A6;
    color: #69E6A6;
}
.btn-blue-outline:hover{
    background-color: #0a2640;
    color: #fff !important;
}
.btn-blue:hover{
    background-color: transparent;
    color: #0a2640;
}
.btn-default:hover{
    border: 1px solid #69E6A6;
    color: #69E6A6;
   transition: all .2s;
}
.btn-login:hover{
    color: #69E6A6 !important;
    background-color: transparent;
    border: 1px solid #69E6A6; 
}
.feature-wrapper .inner-sec .btn:hover {
    transform: translatey(-10px);
}
.income-img-wrapper:hover .income-wrapper{
    transform: translatey(-10px);

}
.bg-blue{
    background-color: #0A2640;
    color: #fff;
}
.cust-call li:hover {
    background-color:  #69E6A6 ;
    color: #fff;
}
/* header a.nav-link{
    border-bottom: 2px solid transparent;
} */
header a.nav-link:hover{
    border-bottom: 2px solid #fff;
}
/* animation-end */

.feature-wrapper .inner-sec .btn {
    display: inline-flex;
    align-items: center;
    color: #0a2640;
    line-height: 36px;
    padding: 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #0a2640;
    transition: all .2s;
}
header {
	position: absolute;
    padding-top: 56px;
    z-index: 1;
    top: 0;
    width: 100%;
}
.banner-sec {
	background-color: #0A2640;
	position: relative;
	padding-top: 162px;
}
.banner-sec .inner-sec {
	color: #fff;
}
/*Header*/
a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    display: none;
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.nav-item {
    margin: 0 20px;
}
a.nav-link {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
  .slick-initialized .slick-slide{
    /* background-color: #b32532; */
    color: #FFF;
    height: 200px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-initialized .slick-slide{
    color: #FFF;
    height: auto;
    /* height: 200px; */
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots {
    display: none !important;
}
.my-slider .slick-arrow {
    display: none !important;
}
  /* slider1-end */
.template-sec {
    background-color: #0a2640;
    color: #fff;
}
.template-sec .slick-slide{
    background-color: #fff;
    color:#000;
}
.template-sec .slick-slide{
    padding: 40px;
    border-radius: 12px;
}
.test-description{
    display: flex;
    align-items: center;
}
.test-description{
    margin-top: 40px;
}
.test-description img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}
.test-description b{
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
}
.test-description span{
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    display: inline-block;
}
  /*section-2*/
  .sec-padding{
    padding: 82px 0;
  }

  .heading-wrapper {
    max-width: 842px;
    margin: 0 auto;
    width: 100%;
}
.feature-wrapper .inner-sec {
    max-width: 300px;
    margin: 0 auto;
}
/* connect-our-cust */
.connect-our-cust{
    margin-top: 167px;
}
.connect-our-cust li {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 24px;
    position: relative;
    box-sizing: border-box;
    padding-left: 50px;
}
.cust-income li::before {
    color: #0a2640;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    content: "\f058";
    font-family: "FontAwesome";
}
.position-relative{
    position: relative;
}
.position-absolute{
position:absolute;
}
.income-wrapper {
    right: 90px;
    bottom: -145px;
    transition: all .2s;
}
.connect-our-cust .inner-sec h3 {
    margin-bottom: 40px !important;
    margin-top: 66px;
}
.connect-our-cust .inner-sec .btn {
    margin-top: 32px;
}
.cust-call .income-wrapper {
    left: 0;
    bottom: -145px;
}
.cust-call li::before {
    background-image: url(images/feather.png);
    /* background-color: #0a2640; */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 20px;
    width: 24px;
    height: 24px;
    content: "";
}
.cust-call li {
    background-color: #0a2640;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 62px;
    border-radius: 6px;
    transition: all .2s;
}
.slick-next, .slick-prev {
    top: -76px !important;
    width: 40px !important;
    height: 40px !important;
    transform: unset;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    display: inline-block !important;
    vertical-align: middle;
}
.slick-prev {
    right: 60px !important;
    left: unset !important;
}
.slick-next {
    right: 0 !important;
}
.slick-next:before, .slick-prev:before {
    font-size: 40px !important;
}
.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 32px;
  color: #000;
  transition: 0.4s;
  border-bottom: 1px solid #C4C4C4;
}
.accordion:after {
    content: '\005E';
    color: #fff;
    /* float: right; */
    font-size: 26px;
    background: #0A2640;
    height: 20px;
    text-align: center;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    border-radius: 50%;
}

.active:after {
  transform: rotate(180deg);
}
.panel {
  padding:18px 0;
  display: none;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #C4C4C4;
}
.our-blog .inner-sec span {
    color: #777777;
    display: inline-block;
}
.our-blog b {
    color: #0A2640;
    font-weight: 700;
    margin-right: 12px;
}
.bio-info {
    display: flex;
    align-items: center;
}
.bio-info img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 12px;
}
.message-block input[type="text"] {
    max-width: 370px;
    width: 100%;
    padding: 12px 32px;
    border-radius: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-right: 24px;
    margin-left: 24px;
}
.message-block .inner-sec{
max-width: 716px;
width: 100%;
margin: 0 auto;
padding: 60px 0;
}
.message-block .container{
    background-color: #0A2640;
}
.message-block h2{
    color: #fff;
}
/* footer */
.footer-brand{
    margin-bottom: 40px;
}
.footer-heading{
    margin-bottom: 32px;
}
footer li {
    line-height: 32px;
    font-size: 20px;
    padding: 9px 0;
}
footer p, footer li a{
color: #777777 !important;
}
span.badge {
    font-size: 13px;
    margin-left: 8px;
    background-color: #65E4A3;
    font-weight: 700;
    color:  #0A2640;
    line-height: 28px;
    padding: 1px 14px;
    border-radius: 40px;
}
.footer-left{
    width: 40%;
}
.footer-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer .inner-sec {
    text-align: left;
}

/*About-page*/
.banner-sec.pg-about .heading-wrapper.text-center {
    color: #fff;
}
.gallery-wrapper {
    display: grid;
    margin: 0 auto;
    /*grid-template-columns: repeat(3 1fr);*/
    grid-template-columns: 300px 400px 300px;
    gap: 40px 50px;
}
.gallery-item1 {
    grid-column: 1;
    grid-row: 1;
    line-height: 1;
}
.gallery-item2 {
    grid-column: 1;
    grid-row: 2;
}
.gallery-item3 {
    grid-column: 2;
    grid-row: 1/ span 2;
}
.gallery-item4 {
    grid-column: 3;
    grid-row: 1;
}
.gallery-item5 {
    grid-column: 3;
    grid-row: 2;
}
.gallery-wrapper img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
section.banner-sec.pg-about {
    padding-bottom: 166px;
}
section.about-gallery {
    margin-top: -68px;
    position: relative;
}
.about-gallery .heading-wrapper{
margin-top: 100px;
}
.iteration-item {
    font-size: 96px;
    line-height: 56px;
    color: #4FE9A4;
    display: inline-block;
    padding: 10px;
}
.iteration-item span {
    display: block;
    font-size: 24px;
    color: #fff;
    line-height: 1;
    margin-top: 32px;
}
.template-sec .heading-wrapper {
    margin-bottom: 82px;
}
.our-team .heading-wrapper {
    margin-bottom: 40px;
}
.our-value .inner-sec {
    display: flex;
}
.our-value .inner-content{
    text-align: left;
}
.our-value .inner-sec img{
width: 150px;
max-width: unset;
height: 150px;
border-radius: 20px;
margin-right: 50px;
object-fit: cover;
}
.our-value .inner-sec h5 {
    font-weight: 400;
    line-height: 48px;
}
section.our-value .container {
    max-width: 842px;
}
section.banner-sec.pg-services {
    padding-bottom: 94px;
    background-color: #65E4A3;
    ;
}
.banner-sec.pg-services .row{
align-items: center;
justify-content: flex-start;
}
.pg-services .banner-left{
    max-width: 630px;
}
.pg-services .banner-right{
    max-width: 480px;
}
.service-page a.nav-link {
    color: #0A2640;
}
.service-page header a.nav-link:hover {
    border-bottom: 2px solid #0A2640;
}
.iteration-item, .iteration-item span  {
    color: #0A2640;
}
.pg-services .test-description img {
    width: 120px;
    height: 120px;
    border-radius: 24px;
}

@media(max-width: 1200px) {
.gallery-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
}
}
@media(max-width: 991px) {
    .inner-sec {
        text-align: center;
    }
    .col-6 {
        width: 100% !important;
    }
    .connect-our-cust {
        margin-top: 60px;
    }
    .connect-our-cust ul{
        text-align: left;
    }
    .connect-our-cust .inner-sec h3 {
        margin-top: 0;
    }
    .banner-sec .row{
        display: block;
    }
    .banner-sec .col-6 {
        width: 100% !important;
    }
    span.badge {
        display: block;
    }
    .income-img-wrapper{
        margin-bottom: 103px !important;
    }
    .iteration-item {
        font-size: 72px;
        line-height: 48px;
    }
}
@media(max-width: 767px) {
h2 {
    font-size: 32px;
    line-height: 56px;
}
h3{
    font-size: 26px;
    line-height: 1.7;
}
p{
    font-size: 18px;
    line-height: 30px;
}
footer li {
    line-height: 30px;
    font-size:18px;
}
.sec-padding {
    padding: 52px 0;
}
.m-y-80 {
    margin-bottom: 50px;
    margin-top: 50px;
}
.btn {
    font-size: 16px;
    padding: 12px 56px;
}
    .menu-icon {
        display: block;
        float: right;
        font-size: 30px;
        padding: 0;
        background-color: transparent;
        border: transparent;
    }
    header {
    position: fixed;
    background-color: #05273f;
}
    .navbar-collapse.collapse {
    background-color: #05273f;
    height: calc(100vh - 106px);
    width: 100%;
    position: absolute;
    left: 0;
    padding: 15px;
    position: fixed;
    }
    .navbar {
        display: block;
    }
    .navbar-nav {
        display: table;
        margin: auto;
        text-align: center;
    }
    a.nav-link {
    padding: 12px 15px;
    font-size: 24px;
    margin: 8px;
    }
    .navbar-nav {
        display: none;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .collapse .navbar-nav{
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 100%;
    }
    .feature-wrapper .inner-sec {
        max-width: 100%;
        margin: 20px auto;
    }
    .bio-info {
        justify-content: center;
    }
    .footer-left, .footer-right{
        width: 100%;
    }
    footer .inner-sec {
        text-align: center;
    }
    .col-4, .col-6{
        width: 100% !important;
    }
    .message-block input[type="text"]{
        margin-left: 12px;
        margin-right: 12px;
    }
    .gallery-wrapper {
        gap: 10px 10px;
    }
    .iteration-item {
        font-size: 60px;
    }
    .iteration-item span {
        font-size: 20px;
        margin-top: 24px;
    }
    .our-value .inner-sec img{
        width: 100px;
        max-width: unset;
        height: 100px;
        border-radius: 20px;
        margin-right: 20px;
        object-fit: cover;
        }
}
@media(max-width: 575px) {
.connect-our-cust .inner-sec {
    margin-bottom: 30px;
}
.message-block input[type="text"]{
    margin-left: 0;
    margin-right: 0;
}
.gallery-wrapper {
   display: block;
}
.gallery-wrapper > div{
    margin: 20px auto;
 }
 .iteration-item {
    font-size: 46px;
}
.our-value .inner-sec {
    display: block;
    text-align: left;
}
}